/* .navbg{
    background-image: url(../assets/bg2.jpg);
} */
body{
overflow-x: hidden;}

.lightTheme{
    --bg:#ffffff;
    --navlink:rgba(0, 0, 0, 0.533);
    --navlinkhover:rgba(0, 0, 0, 0.831);
    --bgimg:url(../assets/bg2.jpg);
    background-color: #FFFFFF;
    background-image: url(../assets/bg2.jpg);
    --imgshadow:rgba(179, 236, 240, 0.504);
    --textcolor:#1C1E21;
    --projectborder:#1c1e212f;
    --bgshadow:rgba(0, 0, 0, 0.589);

}
.darkTheme{
    --bg:#242526;
    --navlink:rgba(255, 255, 255, 0.671);
    --navlinkhover:rgb(255, 255, 255);
    background-color: #1B1B1D;
    --textcolor:#E3E3E3;
    --projectborder:#e3e3e32d;
    --bgshadow:rgba(73, 73, 73, 0.484);



}
.navbg{
    background-color: var(--bg);
    background-image: var(--bgimg);
}

.icon1 {
    background: #C726A7;
    background: -webkit-linear-gradient(to left, #4926c7 12%, #e3a73f 82%);
    background: -moz-linear-gradient(to left, #4926c7 12%, #e3a73f 82%);
    background: linear-gradient(to left, #4926c7 12%, #e3a73f 82%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.navlink {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--navlink);
    /* color: aliceblue; */
    font-size: 16px;
    transition: all ease-in-out 0.3s; 
    text-decoration: none; 
  }
  
  .navlink:hover {
    /* transform: scale(10px);  */
    color: var(--navlinkhover);
  }
  .maincontainer{
    height: 100svh;
  }
.welcomtext{
    font-weight: 700;
    font-size: 1.9rem;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--textcolor);
    overflow: hidden;
    min-height: 3rem;
    /* mix-blend-mode: multiply; */
}
.myimg{
    border-radius: 50%;
    max-width: 90%;
    max-height: 80%;
    object-fit: cover;
    box-shadow: 5px 6px 10px 4px var(--imgshadow);
    transition: ease 0.5s;
}


/* @keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
} */

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  25%, 75% {
    transform: translateY(-6px);
  }
}


.image-with-shadow {
  filter: drop-shadow(8px 10px 10px var(--bgshadow));
  transition: ease-in-out 0.5s;
  /* height: 28rem; */
  /* animation: bounce 2s infinite; */
  /* animation-delay: 3s; */
}
.image-with-shadow:hover {
  scale: 1.05;
}


.myimg:hover{
    box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.5),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
    scale: 1.03;
}
.abtme{
    color: var(--textcolor);
    font-size: 1.2rem;
}


/* <Row className="h-100">
<Col className="bg-dark1 order-md-last order-sm-first d-flex align-items-center justify-content-center p-5">
<img src="https://c1.wallpaperflare.com/preview/994/558/349/man-suit-businessperson-caucasian.jpg" className="img-fluid myimg" alt="" id="myimg1"/>        
</Col>
<Col md={7} className="bg-info order-md-first order-sm-last ">
  <h2 className="pe-3 pt-5 welcomtext ">Hello! I'm Ajosh, a developer based in India.</h2>
</Col>
</Row> */


.icon {
    height: 2em;
    width: 8em;
    border: none;
    border-radius: 3em;
    /* background: var(--textcolor); */
    font-size: 17px;
    /* color: #000000; */
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;

   }
   .icon :hover path{
    transition: all ease-in-out 0.2s; 

    fill: #147EFB;
   }
   
   .icon:hover {
    animation: shake3856 0.8s linear infinite both;
   }
   
   @keyframes shake3856 {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }

   /* .aboutcontainer{
    height: 80svh;
   } */

   .about{
    border-radius: 5%;
    max-width: 100%;
    height: 85%;
    object-fit: contain;
    box-shadow: 5px 6px 10px 4px var(--imgshadow);
    transition: ease 0.5s;
}

.about:hover{
    box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.5),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
    scale: 1.005;
}

   


   /* .cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: ghostwhite;
    overflow: hidden;
  }
  
  .cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
  }
  
  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
  }
  
  .cssbuttons-io::before,
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  
  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }
  
  .cssbuttons-io:active {
    transform: scale(0.95);
  } */
  /* <button class="cssbuttons-io">
  <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"></path></svg> Code</span>
</button> */



.btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-23 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
  vertical-align: middle;
}

.btn-23 [hidden] {
  display: none;
}

.btn-23 {
  border-radius: 15px;
  border-width: 1px;
  overflow: hidden;
  padding: 0.3rem 3rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 5em;
  --start: 0em;
  --end: 5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

/* .btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
} */

/* .btn-23:hover .text {
  opacity: 0;
} */

/* @-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
} */

.aboutcontainer{
  color: var(--textcolor);
}
.projectcontainer{
  color: var(--textcolor);
}
.techcontainer{
  color: var(--textcolor);
}
.contactcontainer{
  color: var(--textcolor);
}
.aboutcontainer p{
  font-size: 1.1rem;
  font-weight: 400;
  word-spacing: 0.2rem;
}
.whoi{
  font-size: larger;
  font-family:cursive;
  font-weight: 800;
  opacity: 0.5;
}

.chat{
  /* width: 370px;
  height: 250px; */
  width: 23rem;
  height: 15rem;
  border-color:  rgba(75, 216, 226, 0.849);
  border-radius: 5%;
  background-position: top;
  background: url('../assets/chatapp.png');
  background-size: cover;
  transition: ease-out 3s;
}

.connectedcare{
  /* width: 370px;
  height: 250px; */
  width: 23rem;
  height: 15rem;
  border-color:  rgba(75, 216, 226, 0.849);
  border-radius: 5%;
  background-position: top;
  background: url('../assets/cc.jpeg');
  background-size: cover;
  transition: ease-out 3s;
}
.connectedcare:hover{
  background-position: bottom;
  transition: ease-in 4s;
  /* scale: 1.2; */
}


.stremo{
  /* width: 370px;
  height: 250px; */
  width: 23rem;
  height: 15rem;
  border-color:  rgba(75, 216, 226, 0.849);
  border-radius: 5%;
  background-position: top;
  background: url('../assets/stremo.png');
  background-size: cover;
  transition: ease-out 3s;
}
.stremo:hover{
  background-position: bottom;
  transition: ease-in 4s;
  /* scale: 1.2; */
}
.insure{
  /* width: 370px;
  height: 250px; */
  width: 23rem;
  height: 15rem;
  border-color:  rgba(75, 216, 226, 0.849);
  border-radius: 5%;
  background-position: top;
  background: url('../assets/insure.jpeg');
  background-size: cover;
  transition: ease-out 3s;
}
.insure:hover{
  background-position: bottom;
  transition: ease-in 4s;
  /* scale: 1.2; */
}
.eplan{
  /* width: 370px;
  height: 250px; */
  width: 23rem;
  height: 15rem;
  border-color:  rgba(75, 216, 226, 0.849);
  border-radius: 5%;
  background-position: top;
  background: url('../assets/eplan.jpeg');
  background-size: cover;
  transition: ease-out 3s;
}
.eplan:hover{
  background-position: bottom;
  transition: ease-in 4s;
  /* scale: 1.2; */
}


.chatapp{
  width: 23rem;
  height: 15rem;
  border-color:  rgba(75, 216, 226, 0.849);
  border-radius: 5%;
  background-position: center;
  background: url('../assets/whatsapp2.jpeg');
  background-size: cover;
  transition: ease-out 3s;
}
.chatapp:hover{
  background-position: bottom;
  transition: ease-in 4s;
}



.jobportal {
  width: 28rem;
  height: 15rem;
  border-color: rgba(75, 216, 226, 0.849);
  /* border-radius: 5%;
  background: url('../assets/jobportal.jpeg');
  background-size: cover;
  background-position: center;
  transition: ease-out 3s; */
}
.addressbuk{
  height: 22rem;
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;

}
::-webkit-scrollbar-thumb {
  background: var(--navlink); 
  border-radius: 10px;
  
}
::-webkit-scrollbar-thumb:hover {
  background: var(--navlinkhover); 
}



.stackicon {
  width: 40px;
  height: 40px;
  object-fit: contain; 
  display: block; 
  margin: 0; 
  padding: 0; 
}

/* .stackicon{
  height: 40px;
} */
.projectborder{
  border-style: solid;
  border-color: var(--projectborder);
  border-width: 1px; 
}
.portfolio h5{
  color: #147EFB;
  font-weight: 700;
  font-size: 1.1rem;
}
.portfolio h3{
  color: var(--textcolor);
  font-weight: 700;

}


.techlogo img{
  max-height: 3rem;
  /* filter: grayscale(100%); */
}
.techlogo img:hover{
  filter: grayscale(100%);
  /* filter: blur(4px); */
  scale: 1.2;
  transition: all ease-in-out 0.3s; 

}
.techlogo p{
 font-weight: 600;
 margin-top: 10px;
}
.contactiocn{
  color: #147EFB;
}
.contactcontent{
  color: var(--textcolor);
  opacity: 0.6;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.contactcontent:hover{
  color: #147EFB;
  opacity: 1;
}



.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 600;
  /* font-size: 18px; */
  letter-spacing: 0.05em;
  border-radius: 0.6em;
  cursor: pointer;
  border: 1px solid var(--textcolor);
  background: transparent;
  color: var(--textcolor);
  overflow: hidden;
}

.cssbuttons-io svg {
  
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.3em 0.3em 0.3em 0.3em;
}
.categoryactive{
  color: var(--textcolor);
  /* background-color: #dde5ffcb; */
  background-color: rgb(20, 126, 251);
}
.categorynonactive{
  border: 1px solid;
  border-color:  var(--textcolor);

}
.pointer{
  cursor: pointer;

}
.backtotop {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  /* z-index: 99; */
}